/*
 * Wi-Design v1.0
 *
 * Copyright 2012 Wi-Design, Inc.
 *
 */
/* normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

p,
pre {
  margin: 1em 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu,
ol,
ul {
  padding: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  min-width: 768px; }

.page {
  width: 100%; }

.body {
  position: relative; }

.main {
  display: table-cell;
  *display: block;
  width: auto; }

header > .inner,
.body > .inner,
footer > .inner {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.25em;
  padding-left: 1.25em; }

.row {
  display: block;
  overflow: hidden;
  *overflow: visible;
  *zoom: 1; }
  .row:before, .row:after {
    display: table;
    content: ""; }
  .row:after {
    clear: both; }

[class*="span-"] {
  float: left;
  margin-right: 2%; }

[class*="span-"]:last-child {
  overflow: hidden;
  float: none;
  margin-right: 0;
  width: auto; }

.span-20pct {
  width: 18%; }

.span-25pct {
  width: 23%; }

.span-33pct {
  width: 31.333%; }

.span-50pct {
  width: 48%; }

.span-66pct {
  width: 64.667%; }

.span-80pct {
  width: 78%; }

/*
.span-1				{ @include calculate-column-width($columnWidth, 1, $gutterWidth); }
.span-2				{ @include calculate-column-width($columnWidth, 2, $gutterWidth); }
.span-3   		{ @include calculate-column-width($columnWidth, 3, $gutterWidth); }
.span-4   		{ @include calculate-column-width($columnWidth, 4, $gutterWidth); }
.span-5   		{ @include calculate-column-width($columnWidth, 5, $gutterWidth); }
.span-6   		{ @include calculate-column-width($columnWidth, 6, $gutterWidth); }
.span-7   		{ @include calculate-column-width($columnWidth, 7, $gutterWidth); }
.span-8   		{ @include calculate-column-width($columnWidth, 8, $gutterWidth); }
.span-9   		{ @include calculate-column-width($columnWidth, 9, $gutterWidth); }
.span-10  		{ @include calculate-column-width($columnWidth, 10, $gutterWidth); }
*/
body {
  font: 1em/1.313em "Myriad Pro", "Segoe UI", Helvetica, Arial, sans-serif;
  color: #333333; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #333333;
  font-weight: bold;
  text-rendering: optimizelegibility;
  text-transform: capitalize; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    color: #777777; }

h1 {
  font-size: 1.875em;
  line-height: 2.625em; }
  h1 small {
    font-size: 1.125em; }

h2 {
  font-size: 1.5em;
  line-height: 2.625em; }
  h2 small {
    font-size: 1.125em; }

h3 {
  line-height: 1.969em;
  font-size: 1.125em; }
  h3 small {
    font-size: 0.875em; }

h4, h5, h6 {
  line-height: 1.313em; }

h4 {
  font-size: conver-to-em(14px, 16px); }
  h4 small {
    font-size: conver-to-em(12px, 16px); }

h5 {
  font-size: conver-to-em(12px, 16px); }

h6 {
  font-size: conver-to-em(11px, 16px);
  color: #777777;
  text-transform: uppercase; }

.app-name {
  font-size: 1.25em;
  line-height: 40px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
  text-transform: uppercase; }
  .app-name a {
    color: #990000; }
    .app-name a:hover {
      color: #990000; }

blockquote {
  margin: 0 0 1.313em;
  padding: 0 0 0 15px;
  border-left: 5px solid #999999; }
  blockquote p {
    margin-bottom: 0;
    font: 16px/1.641em; }
  blockquote small {
    display: block;
    line-height: 1.313em;
    color: #777777; }
    blockquote small:before {
      content: '\2014 \00A0'; }

hr {
  margin: 1.25em 0;
  border: 0;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid white; }

ul, ol {
  padding: 0;
  margin: 0 0 0.625em 1.25em; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  line-height: 1.313em; }

ul.no-style,
ol.no-style {
  margin-left: 0;
  list-style: none; }

ul.simple-list {
  list-style: none; }

dl {
  margin-bottom: 1.313em; }

dt,
dd {
  line-height: 1.313em; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0.656em; }

p {
  margin: 0 0 0.656em;
  font-family: "Myriad Pro", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.313em; }
  p:first-letter {
    text-transform: uppercase; }
  p small {
    font-size: -1em;
    color: #777777; }

abbr {
  border-bottom: 1px dotted #ddd;
  font-size: 90%;
  text-transform: uppercase;
  cursor: help; }

address {
  display: block;
  margin-bottom: 1.313em;
  font-style: normal;
  line-height: 1.313em; }

cite {
  font-style: normal; }

code {
  color: #0b8c8f; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ""; }

small {
  font-size: 100%; }

.author {
  color: white;
  font-size: 0.813em;
  line-height: 0.813em;
  text-transform: capitalize; }
  .author:hover {
    color: #e7b19a; }

a {
  color: #0088cc;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
  a:hover {
    color: #002233; }

form {
  margin: 0 0 1.313em; }

fieldset {
  border: none; }

label,
input,
button,
select,
textarea {
  font: normal 0.813em/1.313em "Myriad Pro", "Segoe UI", Helvetica, Arial, sans-serif; }

label {
  display: inline-block;
  margin-right: 0.313em;
  margin-bottom: 0.313em;
  color: #333333; }

input,
textarea,
select {
  display: inline-block;
  padding: 0.25em;
  color: #555555;
  border: 1px solid #ccc; }

input[type="radio"] + label,
input[type="checkbox"] + label {
  padding-left: 0.625em; }

header {
  height: 40px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.5) inset;
  background-color: #b70000;
  background-image: -moz-linear-gradient(top, #990000, #e60000);
  background-image: -ms-linear-gradient(top, #990000, #e60000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#990000), to(#e60000));
  background-image: -webkit-linear-gradient(top, #990000, #e60000);
  background-image: -o-linear-gradient(top, #990000, #e60000);
  background-image: linear-gradient(top, #990000, #e60000);
  background-repeat: repeat-x; }
  header .branding {
    float: right;
    margin: 0; }
    header .branding .app-name {
      float: left;
      margin-right: 1.25em; }

.authors {
  float: right;
  margin: 0; }
  .authors li {
    line-height: 20px; }

.nav {
  margin-bottom: 1.313em;
  margin-left: 0;
  list-style: none; }
  .nav a {
    display: block; }
    .nav a:hover {
      background-color: #999999;
      text-decoration: none; }

.main-nav {
  overflow: visible;
  float: left; }
  .main-nav .nav {
    display: block;
    position: relative;
    float: left;
    margin: 0 0.625em 0 0; }
    .main-nav .nav > li {
      display: block;
      float: left; }
  .main-nav a {
    padding: 0 0.625em;
    color: white;
    line-height: 40px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-transform: capitalize; }
    .main-nav a:hover, .main-nav a:active {
      background: none;
      color: #e7b19a; }
  .main-nav .active,
  .main-nav .active:hover {
    background: #b30000;
    color: white;
    cursor: default; }

.tabs {
  border-bottom: 1px solid #ddd;
  *zoom: 1; }
  .tabs:before, .tabs:after {
    display: table;
    content: ""; }
  .tabs:after {
    clear: both; }

.tabs > li {
  float: left;
  margin-bottom: -1px; }

.tabs a {
  margin-right: 2px;
  padding: 0.563em 0.75em;
  border: 1px solid transparent;
  line-height: 0.875em; }
  .tabs a:hover {
    border-color: #999999 #999999 #dddddd; }

.tabs .active,
.tabs .active:hover {
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  background-color: white;
  color: #555555; }

.pagination {
  display: inline-block;
  height: 2.625em;
  margin: 0; }
  .pagination li {
    display: inline; }

.pagination a {
  float: left;
  padding: 0.313em 0.625em;
  border: 1px solid #ddd;
  border-left-width: 0;
  font-size: 0.875em;
  line-height: 1.313em;
  text-decoration: none; }
  .pagination a:hover,
  .pagination a .active a {
    background-color: #e2e2e2; }

.pagination .active a {
  color: #777777;
  cursor: default; }

.pagination li:first-child a {
  border-left-width: 1px; }

[class*="icon-"],
[class^="icon-"] {
  display: inline-block;
  position: relative;
  margin-right: 0.625em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
  [class*="icon-"]:after, [class*="icon-"]:before,
  [class^="icon-"]:after,
  [class^="icon-"]:before {
    content: '';
    position: absolute; }
  [class*="icon-"].push,
  [class^="icon-"].push {
    margin-right: 0;
    margin-left: 0.625em; }
  [class*="icon-"] span,
  [class^="icon-"] span {
    overflow: hidden;
    position: absolute;
    left: -999999999px;
    width: 0;
    height: 0; }

.icon-arrow {
  margin: 0.625em 0 0.313em;
  width: 2px;
  height: 1px;
  padding: 0.625em 0.625em;
  border: 1px solid #f2f2f2; }
  .icon-arrow:hover {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.icon-arrow.up:after,
.icon-arrow.down:after {
  margin-left: -5px;
  border-width: 6px;
  border-style: solid; }

.icon-arrow.up:after {
  margin-top: -8px;
  border-color: transparent transparent #999999 transparent; }

.icon-arrow.down:after {
  margin-top: -4px;
  border-color: #999999 transparent transparent transparent; }

.icon-clipboard {
  width: 14px;
  height: 18px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #999999; }
  .icon-clipboard:hover {
    background: #777777; }
  .icon-clipboard:before {
    z-index: 1;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 2px;
    height: 2px;
    background: #e2e2e2; }
  .icon-clipboard:after {
    right: 0;
    left: 0;
    margin: -1px auto 0;
    width: 6px;
    height: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #777777 #e2e2e2 #e2e2e2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #999999; }

.icon-info {
  width: 18px;
  height: 18px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  background: #999999;
  color: #e2e2e2;
  font-style: normal;
  text-align: center; }
  .icon-info:hover {
    background: #777777; }

.widget {
  margin: 1.25em 0; }
  .widget > .inner {
    padding: 0.625em 0.625em 1.25em; }
  .widget .nav {
    padding-right: 0.625em;
    padding-left: 0.625em; }
  .widget .tabs {
    margin-bottom: 0; }

.bd > .inner,
.ft > .inner,
.hd > .inner {
  margin-right: 0.625em;
  margin-left: 0.625em; }

.action-bar {
  overflow: hidden;
  padding: 0.313em 0.625em; }

.basic {
  border: 1px solid rgba(0, 0, 0, 0.09);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.box {
  padding: 0.625em;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white; }

.tool {
  background-color: #e2e2e2; }
  .tool .box {
    overflow-y: scroll;
    height: 12.5em; }
  .tool .hd small {
    color: #0088cc; }

.module {
  padding-bottom: 1.25em;
  background-color: #efefef; }
  .module .hd + .bd {
    /*margin-top: 33px;*/
    border-top: 1px solid #999999; }
  .module h1, .module h2, .module h3, .module h4 {
    line-height: 2.563em;
    text-align: center; }
  .module .bd {
    background-color: #d8d8d8;
    background-image: -moz-linear-gradient(top, #cccccc, #eaeaea);
    background-image: -ms-linear-gradient(top, #cccccc, #eaeaea);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccccc), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #cccccc, #eaeaea);
    background-image: -o-linear-gradient(top, #cccccc, #eaeaea);
    background-image: linear-gradient(top, #cccccc, #eaeaea);
    background-repeat: repeat-x; }
  .module .tabs {
    border-bottom-color: #999999; }
    .module .tabs a,
    .module .tabs .active,
    .module .tabs .active:hover {
      border-color: #999999;
      border-bottom-width: 0;
      border-bottom-style: none;
      border-bottom-color: transparent; }
    .module .tabs .active,
    .module .tabs .active:hover {
      background-color: #dedede;
      background-image: -moz-linear-gradient(top, #eaeaea, #cccccc);
      background-image: -ms-linear-gradient(top, #eaeaea, #cccccc);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eaeaea), to(#cccccc));
      background-image: -webkit-linear-gradient(top, #eaeaea, #cccccc);
      background-image: -o-linear-gradient(top, #eaeaea, #cccccc);
      background-image: linear-gradient(top, #eaeaea, #cccccc);
      background-repeat: repeat-x; }

/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/
.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  overflow: hidden;
  position: absolute;
  left: -999999999px;
  width: 0;
  height: 0; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix {
  display: inline-block; }
  .ui-helper-clearfix:after {
    content: ".";
    clear: both;
    visibility: hidden;
    display: block;
    height: 0; }

* html .ui-helper-clearfix {
  height: 1%; }

.ui-helper-clearfix {
  display: block; }

.ui-helper-zfix {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ui-state-disabled {
  cursor: default !important; }

.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ui-widget {
  font-family: inherit;
  font-size: inherit; }
  .ui-widget button,
  .ui-widget input,
  .ui-widget select,
  .ui-widget textarea {
    font-family: inherit;
    font-size: inherit; }

.ui-widget-content {
  border: 1px solid #e7b19a;
  background: white;
  color: #111111; }
  .ui-widget-content a {
    color: #111111; }

.ui-widget-header {
  border: 1px solid #990000;
  background: #ff9999;
  color: white;
  font-weight: bold; }
  .ui-widget-header a {
    color: white; }

.ui-state-default,
.ui-widget-content .ui-state-default {
  border: 1px solid red;
  background-color: #ffe5e5;
  color: #333333;
  font-weight: bold;
  outline: none; }

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #333333;
  text-decoration: none;
  outline: none; }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus {
  border: 1px solid #e7b19a;
  background: white;
  color: #333333;
  font-weight: bold;
  outline: none; }

.ui-state-hover a,
.ui-state-hover a:hover {
  color: #333333;
  text-decoration: none;
  outline: none; }

.ui-state-active,
.ui-widget-content .ui-state-active {
  border: 1px solid #e7b19a;
  background: white;
  color: #333333;
  font-weight: bold;
  outline: none; }
  .ui-state-active a,
  .ui-state-active a:link,
  .ui-state-active a:visited,
  .ui-widget-content .ui-state-active a,
  .ui-widget-content .ui-state-active a:link,
  .ui-widget-content .ui-state-active a:visited {
    color: #333333;
    text-decoration: none;
    outline: none; }

.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
  border: 1px solid #fcf823;
  background: white;
  color: #333333; }
  .ui-state-highlight a,
  .ui-widget-content .ui-state-highlight a {
    color: #333333; }

.ui-state-error,
.ui-widget-content .ui-state-error {
  border: 1px solid #e81414;
  background: #ef4040;
  color: #e81414; }
  .ui-state-error a,
  .ui-widget-content .ui-state-error a {
    color: #e81414; }

.ui-state-error-text,
.ui-widget-content .ui-state-error-text {
  color: #e81414; }

.ui-state-disabled,
.ui-widget-content .ui-state-disabled {
  opacity: 0.35;
  filter: alpha(opacity=35);
  background-image: none; }

.ui-priority-primary,
.ui-widget-content .ui-priority-primary {
  font-weight: bold; }

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary {
  opacity: 0.7;
  filter: alpha(opacity=70);
  font-weight: normal; }

.ui-slider {
  position: relative;
  text-align: left; }
  .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em; }
  .ui-slider .ui-slider-range {
    display: block;
    position: absolute;
    z-index: 1;
    border: 0;
    font-size: .7em; }

.ui-slider-horizontal {
  height: .8em; }
  .ui-slider-horizontal .ui-slider-handle {
    top: -0.4em;
    margin-left: -0.6em; }
  .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%; }
  .ui-slider-horizontal .ui-slider-range-min {
    left: 0; }
  .ui-slider-horizontal .ui-slider-range-max {
    right: 0; }

.ui-slider-vertical {
  width: .8em;
  height: 100px; }
  .ui-slider-vertical .ui-slider-handle {
    left: -0.3em;
    margin-left: 0;
    margin-bottom: -0.6em; }
  .ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%; }
  .ui-slider-vertical .ui-slider-range-min {
    bottom: 0; }
  .ui-slider-vertical .ui-slider-range-max {
    top: 0; }

.ui-slider-container {
  height: 8em; }

.ui-slider {
  clear: both;
  margin: 0 1em;
  top: 1em;
  text-decoration: none !important; }
  .ui-slider .ui-slider-tooltip {
    display: none; }
  .ui-slider .ui-slider-handle {
    border: none;
    background: #e7b19a;
    cursor: move; }
    .ui-slider .ui-slider-handle:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 1px;
      height: 10px;
      background-color: #e2a185; }
    .ui-slider .ui-slider-handle:after {
      content: '';
      position: absolute;
      top: 100%;
      margin-left: -1px;
      border-width: 10px;
      border-style: solid;
      border-color: #e7b19a transparent transparent; }
  .ui-slider .ui-slider-range {
    background-color: #cc0000; }
  .ui-slider .screenReaderContext {
    overflow: hidden;
    position: absolute;
    left: -999999999px;
    width: 0;
    height: 0; }
  .ui-slider .ui-state-active .ui-slider-tootip,
  .ui-slider .ui-state-focus .ui-slider-tooltip,
  .ui-slider .ui-state-hover .ui-slider-tooltip {
    display: block;
    position: absolute;
    bottom: 2.5em;
    margin-left: -1.1em;
    /*margin-left: -3.7em;
    width: 8em;*/
    width: 3em;
    padding: .3em .2em .4em;
    font-size: .9em;
    text-align: center; }
  .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down,
  .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down-inner {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-bottom-width: 0;
    background: none; }
  .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down {
    bottom: -8px;
    right: auto;
    left: 50%;
    margin-left: -7px;
    border-top-width: 8px;
    border-left: 7px dashed transparent;
    border-right: 7px dashed transparent; }
  .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down-inner {
    top: -9px;
    bottom: auto;
    left: -6px;
    border-top: 7px solid #fff;
    border-right: 6px dashed transparent;
    border-left: 6px dashed transparent; }
  .ui-slider a {
    text-decoration: none; }
  .ui-slider ol,
  .ui-slider li,
  .ui-slider dl,
  .ui-slider dd,
  .ui-slider dt {
    margin: 0;
    padding: 0;
    list-style: none; }
  .ui-slider ol,
  .ui-slider dl {
    position: relative;
    top: 1.3em;
    width: 100%; }
  .ui-slider dt,
  .ui-slider li,
  .ui-slider dd {
    overflow: visible;
    position: absolute;
    color: #555555; }
  .ui-slider dt {
    top: 1.5em;
    height: .7em;
    padding-top: .2em;
    border-bottom: 1px dotted #ddd;
    text-align: center; }
    .ui-slider dt:first-child {
      text-align: left; }
    .ui-slider dt:last-of-type {
      text-align: right; }
    .ui-slider dt span {
      padding: 0 .5em;
      background: white; }
  .ui-slider li .ui-slider-label,
  .ui-slider dd .ui-slider-label {
    display: none;
    position: absolute; }
  .ui-slider li .ui-slider-label-show,
  .ui-slider dd .ui-slider-label-show {
    display: block; }
  .ui-slider li .ui-widget-content,
  .ui-slider dd .ui-widget-content {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left-width: 1px;
    border-left-style: solid; }
  .ui-slider span.ui-slider-tic {
    position: absolute;
    top: -1.3em;
    left: 0;
    height: .8em; }
  .ui-slider .first .ui-slider-tic,
  .ui-slider .last .ui-slider-tic {
    display: none; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
  .clearfix:after {
    clear: both; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0); }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  overflow: visible;
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto; }

.invisible {
  visibility: hidden; }

.ir {
  overflow: hidden;
  display: block;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -999em;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

.pull {
  float: left; }

.push {
  float: right; }

.ptn, .pvn, .pan {
  padding-top: 0 !important; }

.pts, .pvs, .pas {
  padding-top: 0.313em !important; }

.ptm, .pvm, .pam {
  padding-top: 0.625em !important; }

.ptl, .pvl, .pal {
  padding-top: 1.25em !important; }

.prn, .phn, .pan {
  padding-right: 0 !important; }

.prs, .phs, .pas {
  padding-right: 0.313em !important; }

.prm, .phm, .pam {
  padding-right: 0.625em !important; }

.prl, .phl, .pal {
  padding-right: 1.25em !important; }

.pbn, .pvn, .pan {
  padding-bottom: 0 !important; }

.pbs, .pvs, .pas {
  padding-bottom: 0.313em !important; }

.pbm, .pvm, .pam {
  padding-bottom: 0.625em !important; }

.pbl, .pvl, .pal {
  padding-bottom: 1.25em !important; }

.pln, .phn, .pan {
  padding-left: 0 !important; }

.pls, .phs, .pas {
  padding-left: 0.313em !important; }

.plm, .phm, .pam {
  padding-left: 0.625em !important; }

.pll, .phl, .pal {
  padding-left: 1.25em !important; }

.mtn, .mvn, .man {
  margin-top: 0 !important; }

.mts, .mvs, .mas {
  margin-top: 0.313em !important; }

.mtm, .mvm, .mam {
  margin-top: 0.625em !important; }

.mtl, .mvl, .mal {
  margin-top: 1.25em !important; }

.mrn, .mhn, .man {
  margin-right: 0 !important; }

.mrs, .mhs, .mas {
  margin-right: 0.313em !important; }

.mrm, .mhm, .mam {
  margin-right: 0.625em !important; }

.mrl, .mhl, .mal {
  margin-right: 1.25em !important; }

.mbn, .mvn, .man {
  margin-bottom: 0 !important; }

.mbs, .mvs, .mas {
  margin-bottom: 0.313em !important; }

.mbm, .mvm, .mam {
  margin-bottom: 0.625em !important; }

.mbl, .mvl, .mal {
  margin-bottom: 1.25em !important; }

.mln, .mhn, .man {
  margin-left: 0 !important; }

.mls, .mhs, .mas {
  margin-left: 0.313em !important; }

.mlm, .mhm, .mam {
  margin-left: 0.625em !important; }

.mll, .mhl, .mal {
  margin-left: 1.25em !important; }
