// header.scss
// -----------------------------------------------------

// Main header
// ------------
header {
	height: $mainHeaderHeight;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.50) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.50) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.50) inset;
	
	@include gradient-vertical($mainNavBackground, $mainNavBackgroundHighlight);
	
	.branding {
		float: right;
		margin: 0;
		
		.app-name { // see typography.scss for font styling
			float: left;
			margin-right: $defaultMargin;
		}
	}
}

.authors {
		float: right;
		margin: 0;
	
	li {
		line-height: $mainHeaderHeight / 2;
	}
}