// Templates.scss
// 
// -----------------------------------------------------

body {
	min-width: 768px;
}

.page {
	width: $pageWidth; 
	
	@include clearfix();
}

.main {
	display: table-cell;
	*display: block;
	
	width: auto;
}
.body {
	position: relative;
	
	@include box-sizing(border-box);
}
.body, .main {
	@include clearfix();
}

header,
.body,
footer {
	 >.inner { // allow for different full page backgrounds but centered content
		padding-right: $defaultPadding * 2;
		padding-left: $defaultPadding *2;
	 	@include center-elm();
		@include clearfix();
	}
}

