// widgets.scss
// -----------------------------------------------------


.widget {
	margin-top: $defaultMargin;
	margin-bottom: $defaultMargin;
	
	> .inner {
		padding: $defaultPadding $defaultPadding $defaultPadding * 2;
	}
	
	.box {
		overflow-y: scroll;
		
		height: convert-to-em(200px, 16px);
		padding: $defaultPadding;
		@include box-shadow( $shadow: 0 0 3px rgba( 0, 0, 0, 0.8) inset);
		@include border-radius( $radius: 3px );
		
		background-color: $white;
	}
	
	.nav {
		padding-right: $defaultPadding;
		padding-left: $defaultPadding;
	}
}


// tool (extends widget)

.tool {
	border: 1px solid rgba( 0, 0, 0,.09);
	@include border-radius( $radius: 3px );
	
	background-color: $grayLightest;
	
	.hd small {
		color: $defaultLinkColor;
	}
}


// module ( extends widget - used for three horizontal blocks)

.module {
	padding-bottom: $defaultMargin;
	border: 1px solid rgba( 0, 0, 0, .09);
	@include border-radius( $radius: 3px );
	
	background-color: lighten($grayLightest, 5%);
	
	.hd {
		padding: $defaultPadding 0;
		
		text-align: center;
		
		+ .bd {
			margin-top: 33px;
			border-top: 1px solid $grayLighter;
		}
	}
	
	.bd {
		@include gradient-vertical($startColor: #ccc, $endColor: #eaeaea);
	}
	
	.box {
		margin: 0 $defaultPadding;
	}
	
	.tabs {
		border-bottom-color: $grayLighter;
		
		> li > a {
			border-color: $grayLighter;
			border-bottom-width: 0;
			border-bottom-style: none;
			border-bottom-color: transparent;
		}
	
		> li > .active {
			@include box-shadow( $shadow: none );	
			@include gradient-vertical($startColor: #eaeaea, $endColor: #ccc);
		}
		
		+ .bd {
			margin-top: -21px;
		}
	}
}



.action-bar {// wrap copy and info buttons in a div with this class
	overflow: hidden;
	
	padding: $defaultPadding /2 $defaultPadding;
	@include clearfix();
	
	button {
		float: right;
		margin-left: $defaultPadding;
	}
}




