/*
 * Mapping Texts v1.0
 *
 * Project Name: Mapping Texts
 * URL: mappingtexts.org
 *
 * Copyright 2012 Wi-Design, Inc.
 * Author: Wi-Design, Inc. 
 * Email: info@wi-design.com
 *
 */
/* normalize.css - http://github.com/necolas/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

p,
pre {
  margin: 1em 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu,
ol,
ul {
  padding: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  overflow-y: scroll; }

body {
  min-width: 768px; }

.page {
  width: 100%; }

.body {
  position: relative; }

.main {
  display: table-cell;
  *display: block;
  width: auto; }

header > .inner,
.body > .inner,
footer > .inner {
  overflow: hidden;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-right: 1.54em;
  margin-left: 1.54em; }

.row {
  display: block;
  overflow: hidden;
  *overflow: visible;
  *zoom: 1; }
  .row:before, .row:after {
    display: table;
    content: ""; }
  .row:after {
    clear: both; }

[class*="span-"] {
  position: relative;
  float: left;
  margin-right: 2%; }

[class*="span-"]:last-child {
  overflow: hidden;
  float: none;
  margin-right: 0;
  width: auto; }

.span-full {
  float: none; }

.span-20pct {
  width: 18%; }

.span-25pct {
  width: 23%; }

.span-33pct {
  width: 31.333%; }

.span-40pct {
  width: 38%; }

.span-50pct {
  width: 48%; }

.span-60pct {
  width: 58%; }

.span-66pct {
  width: 64.667%; }

.span-75pct {
  width: 73%; }

.span-80pct {
  width: 78%; }

.span-16pct {
  width: 14.667%; }

.span-83pct {
  width: 81.333%; }

.span-14pct {
  width: 12.286%; }

.span-28pct {
  width: 26.571%; }

.span-42pct {
  width: 40.857%; }

.span-57pct {
  width: 55.143%; }

.span-71pct {
  width: 69.429%; }

.span-85pct {
  width: 83.714%; }

body {
  font: 0.813em/1.615em "Myriad Pro", "Segoe UI", Helvetica, Arial, sans-serif;
  color: #333333; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #333333;
  font-weight: bold;
  text-rendering: optimizelegibility;
  text-transform: capitalize; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    color: #777777; }

h1 {
  font-size: 2.154em;
  line-height: 1.615em; }
  h1 small {
    font-size: 0.571em; }

h2 {
  font-size: 1.846em;
  line-height: 1.615em; }
  h2 small {
    font-size: 0.667em; }

h3 {
  font-size: 1.385em;
  line-height: 1.615em; }
  h3 small {
    font-size: 0.778em; }

h4, h5, h6 {
  line-height: 1.615em; }

h4 {
  font-size: 1.231em; }
  h4 small {
    font-size: 0.75em; }

h5 {
  font-size: 1.077em; }

h6 {
  font-size: 0.923em;
  color: #777777;
  text-transform: uppercase; }

blockquote {
  margin: 0 0 1.615em;
  padding: 0 0 0 15px;
  border-left: 5px solid #999999; }
  blockquote p {
    margin-bottom: 0;
    font: 1em/2.019em; }
  blockquote small {
    display: block;
    line-height: 1.615em;
    color: #777777; }
    blockquote small:before {
      content: '\2014 \00A0'; }

hr {
  margin: 0.77em 0;
  border: 0;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid white; }

ul, ol {
  padding: 0;
  margin: 0 0 0.385em 0.77em; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  line-height: 1.615em; }

ul.no-style,
ol.no-style {
  margin-left: 0;
  list-style: none; }

ul.simple-list {
  list-style: none; }

dl {
  margin-bottom: 1.615em; }

dt,
dd {
  line-height: 1.615em; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0.808em; }

p {
  margin: 0 0 0.808em;
  font-family: "Myriad Pro", "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.615em; }
  p:first-letter {
    text-transform: uppercase; }
  p small {
    font-size: -1.188em;
    color: #777777; }

abbr {
  border-bottom: 1px dotted #ddd;
  font-size: 90%;
  text-transform: uppercase;
  cursor: help; }

address {
  display: block;
  margin-bottom: 1.615em;
  font-style: normal;
  line-height: 1.615em; }

cite {
  font-style: normal; }

code {
  color: #0b8c8f; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ""; }

small {
  font-size: 100%; }

.era-header {
  font-size: 0.923em;
  color: #777777;
  font-weight: bold;
  text-rendering: optimizelegibility;
  text-transform: capitalize; }

a {
  color: #0088cc;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in; }
  a:hover {
    color: #002233; }

form {
  margin: 0 0 1.615em; }

fieldset {
  border: none; }

label,
input,
button,
select,
textarea {
  font: normal 1em/1.615em "Myriad Pro", "Segoe UI", Helvetica, Arial, sans-serif; }

label {
  display: inline-block;
  margin-right: 0.193em;
  margin-bottom: 0.193em;
  color: #333333;
  text-transform: capitalize; }

input,
textarea,
select {
  display: inline-block;
  padding: 0.308em;
  color: #555555;
  border: 1px solid #ccc; }

input[type="radio"] + label,
input[type="checkbox"] + label {
  padding-left: 0.77em;
  cursor: pointer; }

.check-all-pubs:checked + label:after {
  content: 'Deselect All';
  position: relative;
  color: #e81414; }

.check-all-pubs + label:after {
  content: 'Check All';
  position: relative;
  color: #2e912e; }

.check-all-pubs + label:after,
.check-all-pubs:checked + label:after {
  font-size: 75%; }

header {
  margin-bottom: 1.54em;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); }
  header h1 {
    line-height: 0; }
  header .branding {
    display: inline-block;
    width: 676px;
    height: 50px;
    background: url("/static/images/mappingtexts_header_title.png") no-repeat left 1px; }

.footer {
  margin: 0.77em 0 0; }
  .footer > .inner {
    padding-top: 0.77em;
    padding-bottom: 1.54em;
    border-top: 1px solid #333333; }

.footer p {
  margin-bottom: 0; }

.nav {
  margin-bottom: 1.615em;
  margin-left: 0;
  list-style: none; }
  .nav a {
    display: block; }
    .nav a:hover {
      background-color: #999999;
      text-decoration: none; }

.tabs {
  border-bottom: 1px solid #ddd;
  *zoom: 1; }
  .tabs:before, .tabs:after {
    display: table;
    content: ""; }
  .tabs:after {
    clear: both; }

.tabs > li {
  float: left;
  margin-bottom: -1px; }

.tabs a {
  margin-right: 2px;
  padding: 0.692em 0.923em;
  border: 1px solid transparent;
  line-height: 1.077em; }
  .tabs a:hover {
    border-color: #999999 #999999 #dddddd; }

.tabs .active,
.tabs .active:hover {
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  background-color: white;
  color: #555555; }

.era-nav {
  width: 100%;
  height: 3.23em;
  margin: 0; }
  .era-nav li {
    display: inline; }

.era-nav a {
  display: block;
  float: left;
  width: 20%;
  padding: 0.385em;
  border: 1px solid #ddd;
  border-left-width: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.615em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  -o-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in; }

.era-nav li:nth-child(6) a {
  border-left-width: 1px; }

.era-nav a:hover,
.era-nav .active {
  background-color: #e2e2e2; }

.era-nav .active {
  color: #002233;
  cursor: default; }

.era-nav li:first-child a {
  border-left-width: 1px; }

[data-details="details"],
[data-details="summary"] {
  position: relative; }

[data-details="details"]:after,
[data-details="details"] [data-details="summary"]:before,
[data-details="details"] [data-details="summary"]:after {
  content: '';
  display: block;
  position: absolute; }

[data-details="details"]:after {
  z-index: 10;
  top: 7px;
  left: 4px;
  width: 2px;
  height: 6px;
  background-color: #999999; }

[data-details="details"].open:after {
  background-color: transparent; }

[data-details="summary"] {
  padding-left: 16px;
  cursor: pointer; }
  [data-details="summary"]:before, [data-details="summary"]:after {
    top: 5px; }
  [data-details="summary"]:before {
    left: 16px;
    margin: 0 0 0 -16px;
    width: 8px;
    height: 8px;
    border: 1px solid #999999; }
  [data-details="summary"]:after {
    left: 1px;
    margin-top: 4px;
    margin-left: 1px;
    width: 6px;
    height: 2px;
    background-color: #999999; }

[data-details="details"] ul,
[data-details="details"] ol {
  margin-left: 1.54em; }

.widget,
.bd,
.bd > .inner,
.ft > .inner,
.hd > .inner {
  position: relative; }

.widget {
  margin-top: 0.77em;
  margin-bottom: 0.77em; }
  .widget > .inner {
    padding: 0.77em 0.77em 1.54em; }
  .widget .nav {
    padding-right: 0.77em;
    padding-left: 0.77em; }
  .widget .tabs {
    margin-bottom: 0; }

.bd > .inner,
.ft > .inner,
.hd > .inner {
  margin-right: 0.77em;
  margin-left: 0.77em; }

.bd > .inner {
  min-height: 50px; }

.action-bar {
  overflow: hidden;
  padding: 0.385em 0.77em; }

.map-view {
  height: 400px; }

.basic {
  border: 1px solid rgba(0, 0, 0, 0.09);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.box {
  padding: 0.77em;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white; }

.tool {
  background-color: #e2e2e2; }
  .tool .box {
    padding: 0; }
  .tool .hd small {
    color: #0088cc; }

.module {
  padding-bottom: 0.77em;
  background-color: #efefef; }
  .module .hd + .bd {
    margin-top: 33px;
    border-top: 1px solid #999999; }
  .module h1, .module h2, .module h3, .module h4, .module h5, .module h6 {
    line-height: 2.563em;
    text-align: center; }
  .module h6 {
    margin-top: -0.77em; }
  .module .bd {
    background-color: #d8d8d8;
    background-image: -moz-linear-gradient(top, #cccccc, #eaeaea);
    background-image: -ms-linear-gradient(top, #cccccc, #eaeaea);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccccc), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #cccccc, #eaeaea);
    background-image: -o-linear-gradient(top, #cccccc, #eaeaea);
    background-image: linear-gradient(top, #cccccc, #eaeaea);
    background-repeat: repeat-x; }
  .module .tabs {
    border-bottom-color: #999999; }
    .module .tabs a,
    .module .tabs .active,
    .module .tabs .active:hover {
      border-color: #999999;
      border-bottom-width: 0;
      border-bottom-style: none;
      border-bottom-color: transparent; }
    .module .tabs .active,
    .module .tabs .active:hover {
      background-color: #dedede;
      background-image: -moz-linear-gradient(top, #eaeaea, #cccccc);
      background-image: -ms-linear-gradient(top, #eaeaea, #cccccc);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eaeaea), to(#cccccc));
      background-image: -webkit-linear-gradient(top, #eaeaea, #cccccc);
      background-image: -o-linear-gradient(top, #eaeaea, #cccccc);
      background-image: linear-gradient(top, #eaeaea, #cccccc);
      background-repeat: repeat-x; }

.topic-key-list {
  counter-reset: ordered;
  list-style-type: none;
  padding-left: 1.54em; }
  .topic-key-list li {
    position: relative; }
    .topic-key-list li:before {
      counter-increment: ordered;
      content: counter(ordered) ".";
      position: absolute;
      margin-left: -1.925em;
      width: 15px;
      text-align: right; }

.topic-keys {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  margin: 0.385em 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .topic-keys span[data-dismiss] {
    display: none;
    position: absolute;
    float: none;
    right: 5px;
    bottom: 15px;
    width: 16px;
    height: 16px; }

.topic-keys[data-click="true"] {
  overflow: visible;
  padding: 0.77em 0.77em 1.54em;
  border: 1px solid white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.8) inset;
  background-color: rgba(0, 0, 0, 0.9);
  color: #e2e2e2;
  white-space: normal; }
  .topic-keys[data-click="true"] span[data-dismiss] {
    display: block; }

.button {
  display: inline-block;
  position: relative;
  padding: 0.385em 0.77em;
  border: 1px solid #b4b4b4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -ms-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -o-linear-gradient(top, #f4f4f4, #ececec);
  background-image: linear-gradient(top, #f4f4f4, #ececec);
  background-repeat: repeat-x;
  color: #333;
  font-family: 'Helvetica', arial, sans-serif;
  font-size: 0.923em;
  font-weight: bold;
  line-height: 1.615em;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear; }

.button:active {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
  background-image: none;
  outline: 0; }

.button:focus {
  outline: thin dotted #333; }

.button:hover {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, white, #ececec);
  background-image: -ms-linear-gradient(top, white, #ececec);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#ececec));
  background-image: -webkit-linear-gradient(top, white, #ececec);
  background-image: -o-linear-gradient(top, white, #ececec);
  background-image: linear-gradient(top, white, #ececec);
  background-repeat: repeat-x;
  text-decoration: none; }

.shut {
  float: right;
  color: #e2e2e2;
  font-size: 1.538em;
  font-weight: bold;
  line-height: 1.615em;
  text-shadow: 0 1px 0 white;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .shut:hover {
    color: #e2e2e2;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer; }

.close {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 22px;
  height: 22px;
  border: 2px solid white;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8), 0 0 5px rgba(0, 0, 0, 0.7) inset;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8), 0 0 5px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8), 0 0 5px rgba(0, 0, 0, 0.7) inset;
  background-color: #e81414;
  cursor: pointer; }
  .close:hover {
    background-color: #8a0c0c !important; }
  .close:after, .close:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 2px;
    margin-right: auto;
    margin-left: auto;
    width: 2px;
    height: 18px;
    background-color: white; }
  .close:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .close:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

[class*="icon-"],
[class^="icon-"] {
  display: inline-block;
  position: relative;
  margin-right: 0.385em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
  [class*="icon-"]:after, [class*="icon-"]:before,
  [class^="icon-"]:after,
  [class^="icon-"]:before {
    content: '';
    position: absolute; }
  [class*="icon-"].push,
  [class^="icon-"].push {
    margin-right: 0;
    margin-left: 0.385em; }
  [class*="icon-"] span,
  [class^="icon-"] span {
    overflow: hidden;
    position: absolute;
    left: -999999999px;
    width: 0;
    height: 0; }

.icon-arrow {
  width: 2px;
  height: 1px;
  padding: 0.615em;
  border: 1px solid #f2f2f2; }
  .icon-arrow:hover {
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1); }

.icon-arrow.up:after,
.icon-arrow.down:after {
  margin-left: -4px;
  border-width: 5px;
  border-style: solid; }

.icon-arrow.up:after {
  margin-top: -8px;
  border-color: transparent transparent #999999 transparent; }

.icon-arrow.down:after {
  margin-top: -2px;
  border-color: #999999 transparent transparent transparent; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #e2e2e2; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb:window-inactive {
  background-color: #999999; }

.spiffy-scrollbar {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 22.077em;
  padding: 0.77em;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent; }
  .spiffy-scrollbar::-webkit-scrollbar-track {
    background-color: transparent; }
  .spiffy-scrollbar::-webkit-scrollbar {
    width: 8px;
    background-color: transparent; }
  .spiffy-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: none; }
  .spiffy-scrollbar::-webkit-scrollbar-thumb {
    width: 7px; }

/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/
.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  overflow: hidden;
  position: absolute;
  left: -999999999px;
  width: 0;
  height: 0; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix {
  display: inline-block; }
  .ui-helper-clearfix:after {
    content: ".";
    clear: both;
    visibility: hidden;
    display: block;
    height: 0; }

* html .ui-helper-clearfix {
  height: 1%; }

.ui-helper-clearfix {
  display: block; }

.ui-helper-zfix {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ui-state-disabled {
  cursor: default !important; }

.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
  border: 1px solid #fcf823;
  background: white;
  color: #333333; }
  .ui-state-highlight a,
  .ui-widget-content .ui-state-highlight a {
    color: #333333; }

.ui-state-error,
.ui-widget-content .ui-state-error {
  border: 1px solid #e81414;
  background: #ef4040;
  color: #e81414; }
  .ui-state-error a,
  .ui-widget-content .ui-state-error a {
    color: #e81414; }

.ui-state-error-text,
.ui-widget-content .ui-state-error-text {
  color: #e81414; }

.ui-state-disabled,
.ui-widget-content .ui-state-disabled {
  opacity: 0.35;
  filter: alpha(opacity=35);
  background-image: none; }

.ui-priority-primary,
.ui-widget-content .ui-priority-primary {
  font-weight: bold; }

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary {
  opacity: 0.7;
  filter: alpha(opacity=70);
  font-weight: normal; }

.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ui-widget {
  font-family: inherit;
  font-size: inherit; }
  .ui-widget button,
  .ui-widget input,
  .ui-widget select,
  .ui-widget textarea {
    font-family: inherit;
    font-size: inherit; }

.ui-widget-content {
  border: 1px solid #e7b19a;
  background: white;
  color: #111111; }
  .ui-widget-content a {
    color: #111111; }

.ui-widget-header {
  border: 1px solid #990000;
  background: #ff9999;
  color: white;
  font-weight: bold; }
  .ui-widget-header a {
    color: white; }

.ui-state-default,
.ui-widget-content .ui-state-default {
  border: 1px solid red;
  background-color: #ffe5e5;
  color: #333333;
  font-weight: bold;
  outline: none; }

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #333333;
  text-decoration: none;
  outline: none; }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus {
  border: 1px solid #e7b19a;
  background: white;
  color: #333333;
  font-weight: bold;
  outline: none; }

.ui-state-hover a,
.ui-state-hover a:hover {
  color: #333333;
  text-decoration: none;
  outline: none; }

.ui-state-active,
.ui-widget-content .ui-state-active {
  border: 1px solid #e7b19a;
  background: white;
  color: #333333;
  font-weight: bold;
  outline: none; }
  .ui-state-active a,
  .ui-state-active a:link,
  .ui-state-active a:visited,
  .ui-widget-content .ui-state-active a,
  .ui-widget-content .ui-state-active a:link,
  .ui-widget-content .ui-state-active a:visited {
    color: #333333;
    text-decoration: none;
    outline: none; }

.ui-slider {
  position: relative;
  text-align: left; }
  .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em; }
  .ui-slider .ui-slider-range {
    display: block;
    position: absolute;
    z-index: 1;
    border: 0;
    font-size: .7em; }

.ui-slider-horizontal {
  height: .8em; }
  .ui-slider-horizontal .ui-slider-handle {
    top: -0.4em;
    margin-left: -0.6em; }
  .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%; }
  .ui-slider-horizontal .ui-slider-range-min {
    left: 0; }
  .ui-slider-horizontal .ui-slider-range-max {
    right: 0; }

.ui-slider-vertical {
  width: .8em;
  height: 100px; }
  .ui-slider-vertical .ui-slider-handle {
    left: -0.3em;
    margin-left: 0;
    margin-bottom: -0.6em; }
  .ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%; }
  .ui-slider-vertical .ui-slider-range-min {
    bottom: 0; }
  .ui-slider-vertical .ui-slider-range-max {
    top: 0; }

.ui-slider-container {
  margin-top: 3em;
  height: 5em;
  padding: 0 1.54em; }

.ui-slider {
  clear: both;
  margin: 0 0.616em;
  top: 1em;
  text-decoration: none !important; }
  .ui-slider .ui-slider-tooltip {
    display: none; }
  .ui-slider .ui-slider-handle {
    border: none;
    background: #e7b19a;
    cursor: move; }
    .ui-slider .ui-slider-handle:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 1px;
      height: 10px;
      background-color: #e2a185; }
    .ui-slider .ui-slider-handle:after {
      content: '';
      position: absolute;
      top: 100%;
      margin-left: 0;
      border-width: 8px;
      border-style: solid;
      border-color: #e7b19a transparent transparent; }
  .ui-slider .ui-slider-range {
    background-color: #cc0000; }
  .ui-slider .screenReaderContext {
    overflow: hidden;
    position: absolute;
    left: -999999999px;
    width: 0;
    height: 0; }
  .ui-slider .ui-state-active .ui-slider-tootip,
  .ui-slider .ui-state-focus .ui-slider-tooltip,
  .ui-slider .ui-state-hover .ui-slider-tooltip {
    display: block;
    position: absolute;
    bottom: 2.5em;
    margin-left: -1.1em;
    width: 3em;
    padding: .3em .2em .4em;
    font-size: .9em;
    text-align: center; }
  .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down,
  .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down-inner {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-bottom-width: 0;
    background: none; }
  .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down {
    bottom: -8px;
    right: auto;
    left: 50%;
    margin-left: -7px;
    border-top-width: 8px;
    border-left: 7px dashed transparent;
    border-right: 7px dashed transparent; }
  .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down-inner {
    top: -9px;
    bottom: auto;
    left: -6px;
    border-top: 7px solid #fff;
    border-right: 6px dashed transparent;
    border-left: 6px dashed transparent; }
  .ui-slider a {
    text-decoration: none; }
  .ui-slider ol,
  .ui-slider li,
  .ui-slider dl,
  .ui-slider dd,
  .ui-slider dt {
    margin: 0;
    padding: 0;
    list-style: none; }
  .ui-slider ol,
  .ui-slider dl {
    position: relative;
    top: 1.3em;
    width: 100%; }
  .ui-slider dt,
  .ui-slider li,
  .ui-slider dd {
    overflow: visible;
    position: absolute;
    color: #555555; }
  .ui-slider dt {
    display: none;
    top: 1.5em;
    height: .7em;
    padding-top: .2em;
    border-bottom: 1px dotted #ddd;
    text-align: center; }
    .ui-slider dt:first-child {
      text-align: left; }
    .ui-slider dt:last-of-type {
      text-align: right; }
    .ui-slider dt span {
      padding: 0 .5em;
      background: white; }
  .ui-slider li .ui-slider-label,
  .ui-slider dd .ui-slider-label {
    display: none;
    position: absolute; }
  .ui-slider li .ui-slider-label-show,
  .ui-slider dd .ui-slider-label-show {
    display: block; }
  .ui-slider li .ui-widget-content,
  .ui-slider dd .ui-widget-content {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left-width: 1px;
    border-left-style: solid; }
  .ui-slider span.ui-slider-tic {
    position: absolute;
    top: -1.3em;
    left: 0;
    height: .8em; }
  .ui-slider .first .ui-slider-tic,
  .ui-slider .last .ui-slider-tic {
    display: none; }

.modal {
  display: none;
  overflow: visible;
  width: 60%;
  max-height: 500px;
  padding-right: 1.54em;
  padding-left: 1.54em; }
  .modal .modal-hd,
  .modal .modal-bd,
  .modal .modal-ft {
    padding-top: 0.77em;
    padding-bottom: 0.77em; }

.description {
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background-color: rgba(63, 55, 58, 0.8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.8)), color-stop(62%, rgba(61, 53, 56, 0.8)), to(rgba(71, 65, 69, 0.8)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(61, 53, 56, 0.8) 62%, rgba(71, 65, 69, 0.8));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(61, 53, 56, 0.8) 62%, rgba(71, 65, 69, 0.8));
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.8), rgba(61, 53, 56, 0.8) 62%, rgba(71, 65, 69, 0.8));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(61, 53, 56, 0.8) 62%, rgba(71, 65, 69, 0.8));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(61, 53, 56, 0.8) 62%, rgba(71, 65, 69, 0.8));
  background-repeat: no-repeat;
  color: white; }
  .description .modal-hd {
    padding-bottom: 0;
    border-bottom: 1px solid rgba(238, 238, 238, 0.8); }
  .description h1,
  .description h2,
  .description h3 {
    border-bottom: 1px solid #555555;
    color: #e2e2e2;
    font-weight: 400; }
  .description a:hover {
    background-color: #0088cc; }

.tooltip {
  display: none;
  padding: 0.77em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: black;
  color: white;
  font-size: 0.875em;
  font-weight: normal;
  pointer-events: none; }
  .tooltip:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 50%;
    margin-top: -5px;
    margin-left: -4px;
    width: 8px;
    height: 8px;
    background-color: inherit;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

.tag-cloud {
  margin-left: 0;
  font-size: 400%;
  text-align: center;
  list-style-type: none; }
  .tag-cloud .tags {
    display: inline;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; }

.ajax-container {
  position: absolute;
  z-index: 1000001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); }
  .ajax-container:after {
    content: 'Loading...';
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 32px;
    width: 100%;
    height: 20px;
    color: #333333;
    text-align: center; }
  .ajax-container .ajax-loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -32px;
    margin: auto;
    width: 32px;
    height: 32px;
    border-width: 3px;
    border-style: solid;
    border-color: #990000 #e7b19a #990000 #e7b19a;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0ms;
    -moz-transition: 0ms;
    -ms-transition: 0ms;
    -o-transition: 0ms;
    transition: 0ms;
    -webkit-animation: infinite-circle 2s linear infinite;
    -moz-animation: infinite-circle 2s linear infinite;
    -ms-animation: infinite-circle 2s linear infinite;
    animation: infinite-circle 2s linear infinite; }

@-webkit-keyframes infinite-circle {
  from {
    -webkit-transform: rotate(0deg) translateZ(0); }

  to {
    -webkit-transform: rotate(360deg) translateZ(0); } }

@-moz-keyframes infinite-circle {
  from {
    -moz-transform: rotate(0deg) translateZ(0); }

  to {
    -moz-transform: rotate(360deg) translateZ(0); } }

@-ms-keyframes infinite-circle {
  from {
    -ms-transform: rotate(0deg) translateZ(0); }

  to {
    -ms-transform: rotate(360deg) translateZ(0); } }

@keyframes infinite-circle {
  from {
    transform: rotate(0deg) translateZ(0); }

  to {
    transform: rotate(360deg) translateZ(0); } }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
  .clearfix:after {
    clear: both; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0); }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  overflow: visible;
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto; }

.invisible {
  visibility: hidden; }

.ir {
  overflow: hidden;
  display: block;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -999em;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

.pull {
  float: left; }

.push {
  float: right; }

.screen-reader-text {
  overflow: hidden;
  position: absolute;
  left: -999999999px;
  width: 0;
  height: 0; }

.ptn, .pvn, .pan {
  padding-top: 0 !important; }

.pts, .pvs, .pas {
  padding-top: 0.385em !important; }

.ptm, .pvm, .pam {
  padding-top: 0.77em !important; }

.ptl, .pvl, .pal {
  padding-top: 1.54em !important; }

.prn, .phn, .pan {
  padding-right: 0 !important; }

.prs, .phs, .pas {
  padding-right: 0.385em !important; }

.prm, .phm, .pam {
  padding-right: 0.77em !important; }

.prl, .phl, .pal {
  padding-right: 1.54em !important; }

.pbn, .pvn, .pan {
  padding-bottom: 0 !important; }

.pbs, .pvs, .pas {
  padding-bottom: 0.385em !important; }

.pbm, .pvm, .pam {
  padding-bottom: 0.77em !important; }

.pbl, .pvl, .pal {
  padding-bottom: 1.54em !important; }

.pln, .phn, .pan {
  padding-left: 0 !important; }

.pls, .phs, .pas {
  padding-left: 0.385em !important; }

.plm, .phm, .pam {
  padding-left: 0.77em !important; }

.pll, .phl, .pal {
  padding-left: 1.54em !important; }

.mtn, .mvn, .man {
  margin-top: 0 !important; }

.mts, .mvs, .mas {
  margin-top: 0.385em !important; }

.mtm, .mvm, .mam {
  margin-top: 0.77em !important; }

.mtl, .mvl, .mal {
  margin-top: 1.54em !important; }

.mrn, .mhn, .man {
  margin-right: 0 !important; }

.mrs, .mhs, .mas {
  margin-right: 0.385em !important; }

.mrm, .mhm, .mam {
  margin-right: 0.77em !important; }

.mrl, .mhl, .mal {
  margin-right: 1.54em !important; }

.mbn, .mvn, .man {
  margin-bottom: 0 !important; }

.mbs, .mvs, .mas {
  margin-bottom: 0.385em !important; }

.mbm, .mvm, .mam {
  margin-bottom: 0.77em !important; }

.mbl, .mvl, .mal {
  margin-bottom: 1.54em !important; }

.mln, .mhn, .man {
  margin-left: 0 !important; }

.mls, .mhs, .mas {
  margin-left: 0.385em !important; }

.mlm, .mhm, .mam {
  margin-left: 0.77em !important; }

.mll, .mhl, .mal {
  margin-left: 1.54em !important; }

@media (min-width: 1200px) {
  .era-nav a {
    width: 10%; }

  .era-nav li:nth-child(6) a {
    border-left-width: 0; }

  .ui-slider-container {
    margin-top: 0;
    margin-bottom: 1.5em; } }
