/*
Syntax error: Undefined variable: "$pageWidth".
        on line 21 of static/css/sass/_templates.scss
        from line 22 of static/css/sass/style.scss

16: // Core (for customization)
17: @import "variables";
18: @import "mixins";
19: @import "css3-mixins";
20: 
21: // Scaffolding: templates, and grids
22: @import "templates";
23: @import "grid.scss";
24: 
25: //Base styles
26: @import "typography";

Backtrace:
static/css/sass/_templates.scss:21
static/css/sass/style.scss:22
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/script/variable.rb:49:in `_perform'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/script/node.rb:40:in `perform'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:216:in `visit_prop'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:146:in `block in visit_import'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:146:in `map'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:146:in `visit_import'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/tree/root_node.rb:20:in `render'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/engine.rb:299:in `_render'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/engine.rb:246:in `render'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `each'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:272:in `block (4 levels) in watch'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:73:in `call'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:73:in `run_callback'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:55:in `callback_action'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:35:in `update'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:37:in `each'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:37:in `modified'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:18:in `refresh'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/vendor/fssm/lib/fssm/monitor.rb:26:in `run'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/vendor/fssm/lib/fssm.rb:70:in `monitor'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:265:in `watch'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/plugin.rb:107:in `method_missing'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/exec.rb:431:in `watch_or_update'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/exec.rb:302:in `process_result'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/exec.rb:41:in `parse'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/lib/sass/exec.rb:21:in `parse!'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.1.15/bin/sass:8:in `<top (required)>'
/Users/defo/.rvm/gems/ruby-1.9.2-head/bin/sass:19:in `load'
/Users/defo/.rvm/gems/ruby-1.9.2-head/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$pageWidth\".\A         on line 21 of static/css/sass/_templates.scss\A         from line 22 of static/css/sass/style.scss\A \A 16: // Core (for customization)\A 17: @import \"variables\";\A 18: @import \"mixins\";\A 19: @import \"css3-mixins\";\A 20: \A 21: // Scaffolding: templates, and grids\A 22: @import \"templates\";\A 23: @import \"grid.scss\";\A 24: \A 25: //Base styles\A 26: @import \"typography\";"; }
