<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>mapping texts/texas</title>
	
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="static/css/style.css">
	
	<!-- Google map api
	 using my API key -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBpY7LNXm_rYk7I7wU6HxhKFir40Env3T8&sensor=false"></script>
	
	<script src="static/js/libs/modernizr-2.5.3.min.js"></script>
	
	<script src="static/js/libs/jquery-1.7.1.min.js"></script>
	<script src="static/js/libs/jquery-ui-1.7.1.custom.min.js"></script>
	
	<!-- plugins/custom scripts -->
	<script src="static/js/plugins/selectToUISlider.jQuery.js"></script>
	<script src="static/js/plugins/tabs.js"></script>
	<script src="static/js/plugins/tooltip.js"></script>
	<script src="static/js/equal_heights.js"></script>
	<script src="static/js/plugins/jquery.checkbox.all.js"></script>
	
	<script src="static/js/libs/json2.js"></script>
	<script src="static/js/libs/underscore-1.3.1.min.js"></script>
	<script src="static/js/libs/mustache.js"></script>
	
	<script src="static/js/libs/backbone-0.9.1.min.js"></script>
	
	<!-- app namesapce -->
	<script src="static/js/app.global.namespace.js"></script>

	<!-- Bacbone models -->
	<script src="static/js/backbone/models/wcc.js"></script>
	<script src="static/js/backbone/models/ner.js"></script>
	<script src="static/js/backbone/models/topics.js"></script>
	<script src="static/js/backbone/models/city.js"></script>
	<script src="static/js/backbone/models/publication.js"></script>
	<script src="static/js/backbone/models/epoch.js"></script>
	
	<!-- Bacbone collections -->
	<script src="static/js/backbone/collections/wcc.js"></script>
	<script src="static/js/backbone/collections/ner.js"></script>
	<script src="static/js/backbone/collections/pub.js"></script>
	<script src="static/js/backbone/collections/publication.js"></script>
	<script src="static/js/backbone/collections/epoch.js"></script>

	<!-- Bacbone views -->
	<script src="static/js/backbone/views/app.js"></script>
	<script src="static/js/backbone/views/wcc_view.js"></script>
	<script src="static/js/backbone/views/ner_view.js"></script>
	<script src="static/js/backbone/views/topic_view.js"></script>
	<script src="static/js/backbone/views/map_view.js"></script>
	<script src="static/js/backbone/views/pub_view.js"></script>
	<script src="static/js/backbone/views/time_select_view.js"></script>
	<script src="static/js/backbone/views/city_view.js"></script>

	<script>
		$(function(){
			var start_app = function(config) {
				var c = STANFORD.MAPPING_TEXTS.cached;
				
				STANFORD.MAPPING_TEXTS.config = config;
				
				c.epochs = new STANFORD.MAPPING_TEXTS.collections.epochs( config.epochs );
		
				
				c.app = new STANFORD.MAPPING_TEXTS.views.app;
				c.app.render();
			};
			
			
			// ----
			$.getJSON('/config', function(config) { start_app(config); });			
		});

	</script>
		
</head>

<body>
<header>
	<div class="inner">
		
		<h1>
			<a href="http://mappingtexts.org/" target="_blank" class="branding">
				<span class="screen-reader-text">MappingTexts - Stanford University and University of North Texas</span>
			</a>
		</h1>
	
	</div>
</header>

	<div class="body">
		
		<div class="inner">
			
			<div class="row">	
				<section id="app-ds-view" class="span-full">
					<h2>Assessing Language Patterns: <small>A Look at Texas Newspapers, 1829-2008</small></h2>
			
					<p>This visualization plots the language patterns embedded in 232,567 pages of historical Texas newspapers, as they evolved over time and space. For any date range and location, you can browse the most common words (word counts), named entities (people, places, etc), and highly correlated words (topic models). [ <a href="#">read more</a> ]</p>
				</section>
			</div><!-- /row -->
			
			<div class="row">
				<section id="time-select-view" class="span-full"></section>
			</div><!-- /row -->
				
			<div class="row">
				<section id="map-view" class="span-66pct"></section>
				<section id="pub-view" class="span-33pct"></section>
			</div><!-- /row -->
			
			<div class="row">
				<section id="wcc-view" class="span-33pct"></section>
				<section id="ner-view" class="span-33pct"></section>
				<section id="topic-view" class="span-33pct"></section>
			</div><!-- /row -->
		
		</div> <!-- /inner -->
		
	</div> <!-- /body -->
	
	<footer class="footer">
		<div class="inner clearfix">
			<p><small>&copy;2011 Stanford University and The University of North Texas</small></p>
			<p>Project Partners: <a href="http://west.stanford.edu/" target="_blank">Bill Lane Center for the American West</a> and <a href="http://texashistory.unt.edu/" target="_blank">Texas Digital Newspaper Collection</a></p>
			<p>Interface designed and built by <a href="http://wi-design.com" target="_blank">Wi-Design, Inc.</a></p>
		</div>
	</footer>
	
</body>

</html>