// buttons.scss
// 
// Description:
// Interactive Link styles
//
// Use:
// Can be used to extend basically any interactive HTML element and some inline-elements
// ie: <a>,<button>,<input type=button/submit>, or <span> for inline-elements
//
// Sections: (sections are prepended with @ symbol for faster search)
//	-Interaction states
//		-Base states
//		-Active state 
//		-Focus state
//		-Hover state
// -----------------------


// @Interaction states
// -----------------------

// @Base state
// -----------
.button {
	display: inline-block;
	position: relative;
	
	padding: $defaultPadding / 2 $defaultPadding;
	border: 1px solid #b4b4b4;
	@include border-radius( $radius: 3px );
	
	@include gradient-vertical($startColor: #f4f4f4, $endColor: #ececec);
	
	color: #333;
	font-family: 'Helvetica', arial, sans-serif;
	font-size: convert-to-em( $targetValue: 12px );
	font-weight: bold;
	line-height: $defaultLineHeight;
	text-align: center;
	text-shadow: 1px 1px 0 #fff;
	white-space: nowrap;
	
	cursor: pointer;
	@include transition( $transition: background-position .1s linear );
}

// @Active state
// -------------
.button:active {
	$shadow: 0 1px 1px rgba(0, 0, 0, .20) inset;
	@include box-shadow( $shadow );
	
	background-image: none;
	
	outline: 0;
}


// @Focus state 
// -------------
.button:focus {
	outline: thin dotted #333;
}


// @Hover state
// -------------
.button:hover {
	@include gradient-vertical($startColor: $white, $endColor: #ececec);

	text-decoration: none;
}

