// content.scss
//
// Description
// Use this style sheet for creation of additional application site selectors
//
// Sections: (sections are prepended with @ symbol for faster search)
//	-topic-key widget
// ----------------------------------------------------------------------------------------


// @topic-key widget
// ------------------
// this class must be used with <ol> or <ul>
.topic-key-list {//used for topic key widget list styling
	counter-reset: ordered;
	list-style-type: none;
	
	padding-left: $defaultPadding * 2; // position list from edge of widget to give numbers some room
	
	li {
		position: relative;
	
		&:before {
			counter-increment: ordered;
			content: counter(ordered) '.';
			position: absolute;
			
			margin-left: -$defaultPadding * 2.5; //create spacing b/w numbers and topic keys
			width: 15px; // need to give some width to align numbers to right of something
			
			text-align: right;
		}
	}
}

// use this class in any block level-element nested inside the <li> of parent <ol> or <ul> with a class of topic-key-list
// we add a data-attribute in load.py of [data-click] to this element
// for allowing a click event on this element to show all topic keys
// ----------------------------------------------------------------------------------------------------------------------
.topic-keys { // Show only first line of topic keys on intial display
	@include text-overflow();
	padding: 0; // specify a padding here so we can have some animation when the user hovers in and out of topic-key-row
	margin: $defaultMargin / 2 0;
	
	@include transition( $transition: all 0.2s ease-in );
	
	span[data-dismiss] { // extend shut button from close.scss
		display: none;
		position: absolute;
		
		float: none; 
		right: 5px;
		bottom: 15px;
		width: 16px;
		height: 16px;
	}
}

.topic-keys[data-click="true"] { // Show rest of topic keys when user clicks on it
	overflow: visible; // show rest of topic keys
	
	padding: $defaultPadding $defaultPadding $defaultPadding * 2;
	border: 1px solid $white;
	@include border-radius( $radius: 3px );
	
	$shadow: 0 0 3px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.8) inset;
	@include box-shadow( $shadow );
		
	background-color: rgba(0, 0, 0, 0.9);
	
	color: $grayLightest;
	white-space: normal; // will remove ellipsis
	
	span[data-dismiss] {
		display: block;
	}
}

