// Content.scss
// Use this style sheet for creation of additional application site selectors
// ----------------------------------------------------------------------------------------


// Special Formatting Classes 
// --------------------------------

// @Grouping Content
// ------------------

.topic-keys {//used for topic key widget list styling
	counter-reset: ordered;
	list-style-type: none;
	
	padding-left: $defaultPadding * 2; // position list from edge of widget to give numbers some room
	
	li {
		position: relative;
		
		&:before {
			counter-increment: ordered;
			content: counter(ordered) '.';
			position: absolute;
			
			margin-left: -$defaultPadding * 2.5; //create spacing b/w numbers and topic keys
			width: 15px; // need to give some width to align numbers to right of something
			
			text-align: right;
		}
	}
}

.topic-key-row {
	@include text-overflow();
	padding: 0; // specify a padding here so we can have some animation when the user hovers in and out of topic-key-row
	
	cursor: default;
	@include transition( $transition: all 0.2s ease-in );
}

.topic-key-row[data-hover="true"] {
	overflow: visible; // show rest of topic keys
	
	padding: $defaultPadding;
	border: 1px solid $white;
	@include border-radius( $radius: 3px );
	
	$shadow: 0 0 3px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.8) inset;
	@include box-shadow( $shadow );
		
	background-color: rgba(0, 0, 0, 0.7);
	
	color: $grayLightest;
	white-space: normal; // will remove ellipsis
}



