// footer.scss
// ---------------------------

.footer {
	margin: $defaultMargin 0 0;
	padding: $defaultPadding 0 $defaultPadding * 2;
	border-top: 1px solid $primaryThemeColor;
	
	//background-color: rgba($secondaryThemeColor, 0.2);
	@include gradient-vertical($startColor: rgba($secondaryThemeColor, 0.1), $endColor: $white)
}

.footer p {
	margin-bottom: 0;
}