// footer.scss
// ---------------------------

.footer {
	margin: $defaultMargin 0 0;
		
	> .inner {
		padding-top: $defaultPadding;
		padding-bottom: $defaultPadding * 2;
		border-top: 1px solid $grayDark;
	}
}

.footer p {
	margin-bottom: 0;
}