// footer.scss
//
// Description:
// all footer related styles should go here 
// or any overrides for footer specific styles from other files should be placed here
// -----------------------------------------------------------------------------------

.footer {
	margin: $defaultMargin 0 0;
		
	> .inner {
		padding-top: $defaultPadding;
		padding-bottom: $defaultPadding * 2;
		border-top: 1px solid $grayDark;
	}
}

.footer p {
	margin-bottom: 0;
}