// Non-Semantic Helper Classes
// ---------------


// Clearfix
.clearfix {
	@include clearfix();
}


// Display
.hidden { 
	display: none !important; 
	visibility: hidden; 
}

.visuallyhidden { 
	overflow: hidden;
	position: absolute;
	
	width: 1px; 
	height: 1px; 
	margin: -1px;  
	padding: 0;
	border: 0; 
	clip: rect(0 0 0 0);   
}

.visuallyhidden.focusable:active, 
.visuallyhidden.focusable:focus { 
	overflow: visible;
	position: static;
	width: auto;
	height: auto; 
	margin: 0;
	clip: auto;     
}

.invisible { 
	visibility: hidden; 
}

// Image Replacement
.ir { 
	overflow: hidden;
	display: block; border: 0; 
	
	background-color: transparent; 
	background-repeat: no-repeat; 
	
	text-align: left; 
	text-indent: -999em;
	
	direction: ltr; 
	*line-height: 0; 
}

.ir br { 
	display: none; 
}

// Positioning
.pull {
	float: left;
}

.push {
	float: right;
}





