// media-queries.scss
//
// Description:
// use this sheet to add special media-queries to make UI more resposive
//
// Sections: (sections are prepended with @ symbol for faster search)
//	-Large Desktop - 1200
// -------------------------------------------------------------


// @Large Desktop - 1200
// ------------------------------------
@media (min-width: 1200px) {
	.era-nav a {
		width: 10%;
	}
	.era-nav li:nth-child(6) a {
		border-left-width: 0;
	}
	
	.ui-slider-container { // use 8em if select elements are visible
		margin-top: 0;
		margin-bottom: 1.5em;
	}
}