// mixins.scss
// -----------------------------------------------------------------


// Utility helpers
// --------------------------------------------------

// Clearfix
// --------
@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}


// Center-align a block level element
// ----------------------------------
@mixin center-elm() {
  display: block;
	margin-right: auto;
  margin-left: auto;
}


// ScreenReader Text
// ------------------

@mixin screenReaderText() {
	overflow: hidden;
	position: absolute;
	left: -999999999px;
	width: 0;
	height: 0;
}


// Text overflow
// -------------------------
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Webkit-style focus
// ------------------
@mixin tab_focus() { //
  outline: thin dotted #333;
}


// Conversion Functions 
// --------------------

@function convert-to-em( $targetValue, $baseValue: 13px ) {
	@return ( $targetValue / $baseValue ) * 1em;
}


// Font mixins
// ----------------

@mixin font-shorthand($weight: normal, $size: $defaultFontSize, $lineHeight: $defaultLineHeight, $family: $defaultFontFamily) {
  font: $weight $size + /$lineHeight $family;
}

@mixin font-styles($size: $baseFontSize, $weight: normal, $lineHeight: $baseLineHeight) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}


// Responsive grid
// -------------------------
@mixin calculate-column-width( $columnWidth, $columns, $gutterWidth ) {
  width: ( $columnWidth * $columns ) - $gutterWidth;
}

@mixin calculate-fluid-columns( $numerator: 1, $denominator: 1, $gutterWidth: $gutterWidth ) {
	width: ( $numerator / $denominator ) * 100 - $gutterWidth;
}

@mixin create-grid( $columnWidth, $gutterWidth ) {      
	.row {
	  display: block;
		overflow: hidden;
		*overflow: visible;

	  @include clearfix();
	}

	[class*="span-"] {
		position: relative;
		
		float: left;
		margin-right: $gutterWidth;
	}

	[class*="span-"]:last-child {
		overflow: hidden;
		
		float: none;
		margin-right: 0;
		width: auto;
	}
	
	.span-full 			{ float: none; }
	.span-20pct			{ @include calculate-fluid-columns( $denominator: 5 ); }
	.span-25pct 		{ @include calculate-fluid-columns( $denominator: 4 ); }
	.span-33pct 		{ @include calculate-fluid-columns( $denominator: 3 ); }
	.span-40pct			{ @include calculate-fluid-columns( $numerator: 2, $denominator: 5 ); }
	.span-50pct			{ @include calculate-fluid-columns( $denominator: 2 ); }
	.span-60pct			{ @include calculate-fluid-columns( $numerator: 3, $denominator: 5 ); }
	.span-66pct			{ @include calculate-fluid-columns( $numerator: 2, $denominator: 3 ); }
	.span-75pct 		{ @include calculate-fluid-columns( $numerator: 3, $denominator: 4 ); }
	.span-80pct			{ @include calculate-fluid-columns( $numerator: 4, $denominator: 5 ); }
	
	// extra Grid Divisions
	// grid divisions by 1/6
	.span-16pct 		{ @include calculate-fluid-columns( $numerator: 1, $denominator: 6 ); }
	.span-83pct			{ @include calculate-fluid-columns( $numerator: 5, $denominator: 6 ); }
	
	// grid divisions by 1/7
	.span-14pct			{ @include calculate-fluid-columns( $numerator: 1, $denominator: 7 ); }
	.span-28pct			{ @include calculate-fluid-columns( $numerator: 2, $denominator: 7 ); }
	.span-42pct			{ @include calculate-fluid-columns( $numerator: 3, $denominator: 7 ); }
	.span-57pct			{ @include calculate-fluid-columns( $numerator: 4, $denominator: 7 ); }
	.span-71pct			{ @include calculate-fluid-columns( $numerator: 5, $denominator: 7 ); }
	.span-85pct			{ @include calculate-fluid-columns( $numerator: 6, $denominator: 7 ); }
}

