// Mixins.scss
// -----------------------------------------------------------------


// Utility helpers
// --------------------------------------------------

// Clearfix
// --------
@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}


// Center-align a block level element
// ----------------------------------
@mixin center-elm() {
  display: block;
	margin-right: auto;
  margin-left: auto;
}


// ScreenReader Text
// ------------------

@mixin screenReaderText() {
	overflow: hidden;
	position: absolute;
	left: -999999999px;
	width: 0;
	height: 0;
}

// Text overflow
// -------------------------
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Webkit-style focus
// ------------------
@mixin tab_focus() { //
  outline: thin dotted #333;
}


// Conversion Functions 
// --------------------

@function convert-to-em( $targetValue, $baseValue: 13px ) {
	@return ( $targetValue / $baseValue ) * 1em;
}


// Font mixins
// ----------------

@mixin font-shorthand($weight: normal, $size: $defaultFontSize, $lineHeight: $defaultLineHeight, $family: $defaultFontFamily) {
  font: $weight $size + /$lineHeight $family;
}

@mixin font-styles($size: $baseFontSize, $weight: normal, $lineHeight: $baseLineHeight) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}


// Responsive grid
// -------------------------
@mixin calculate-column-width( $columnWidth, $columns, $gutterWidth ) {
  width: ( $columnWidth * $columns ) - $gutterWidth;
}

@mixin calculate-column-width-fraction( $numerator: 1, $denominator: 1, $gutterWidth: $gutterWidth ) {
	width: ( $numerator / $denominator ) * 100 - $gutterWidth;
}

@mixin create-grid( $columnWidth, $gutterWidth ) {      
	.row {
	  display: block;
		overflow: hidden;
		*overflow: visible;

	  @include clearfix();
	}

	[class*="span-"] {
		position: relative;
		
		float: left;
		margin-right: $gutterWidth;
	}

	[class*="span-"]:last-child {
		overflow: hidden;
		
		float: none;
		margin-right: 0;
		width: auto;
	}
	
	.span-20pct			{ @include calculate-column-width-fraction( $denominator: 5 ); }
	.span-25pct 		{ @include calculate-column-width-fraction( $denominator: 4 ); }
	.span-33pct 		{ @include calculate-column-width-fraction( $denominator: 3 ); }
	.span-50pct			{ @include calculate-column-width-fraction( $denominator: 2 ); }
	.span-66pct			{ @include calculate-column-width-fraction( $numerator: 2, $denominator: 3 ); }
	.span-80pct			{ @include calculate-column-width-fraction( $numerator: 4, $denominator: 5 ); }
	
	
	//.span-1				{ @include calculate-column-width($columnWidth, 1, $gutterWidth); }
	//.span-2				{ @include calculate-column-width($columnWidth, 2, $gutterWidth); }
	//.span-3   		{ @include calculate-column-width($columnWidth, 3, $gutterWidth); }
	//.span-4   		{ @include calculate-column-width($columnWidth, 4, $gutterWidth); }
	//.span-5   		{ @include calculate-column-width($columnWidth, 5, $gutterWidth); }
	//.span-6   		{ @include calculate-column-width($columnWidth, 6, $gutterWidth); }
	//.span-7   		{ @include calculate-column-width($columnWidth, 7, $gutterWidth); }
	//.span-8   		{ @include calculate-column-width($columnWidth, 8, $gutterWidth); }
	//.span-9   		{ @include calculate-column-width($columnWidth, 9, $gutterWidth); }
	//.span-10  		{ @include calculate-column-width($columnWidth, 10, $gutterWidth); }
}

