// navs.scss
// -----------------------------------------------------

// Base Nav styles
// ----------
.nav {
	margin-bottom: $defaultLineHeight;
  margin-left: 0;

  list-style: none;
	
	// link styles
	a {
	  display: block;
	
		&:hover {
			background-color: $grayLighter;
	
			text-decoration: none;
		}
	}
}


// TABS
// ----

// Give the tabs something to sit on
.tabs {
  border-bottom: 1px solid #ddd;

	@include clearfix();
}

// Make the list-items overlay the bottom border
.tabs > li {
	float: left;
  margin-bottom: -1px;
}

// Actual tabs (as links)
.tabs a {
	margin-right: 2px;
  padding: convert-to-em( 9px ) convert-to-em( 12px );
  border: 1px solid transparent;

	line-height: convert-to-em( 14px ); 
  
&:hover {
    border-color: $grayLighter $grayLighter #ddd;
  }
}
// Active state, and it's :hover to override normal :hover
.tabs .active,
.tabs .active:hover {
  border: 1px solid #ddd;
  border-bottom-color: transparent;

	background-color: $white;
	
	color: $gray;
}


