// Pagination.scss
// ----------------


.pagination { //add this class to an <ol> or <li>
  display: inline-block;
	height: $defaultLineHeight * 2;
	margin: 0;

	li {
		display: inline;
	}
}

.pagination a { // anchor tags should be embedded in an li
  float: left;
  padding: $defaultPadding / 2;
	border: 1px solid #ddd;
  border-left-width: 0;
	
  line-height: $defaultLineHeight;
  text-decoration: none;
}

.pagination a:hover,
.pagination .active { // append active class to <a> not <li>
		background-color: $grayLightest;
}

.pagination .active {
	color: $defaultLinkColorHover;
  cursor: default;
}

.pagination li:first-child a {
  border-left-width: 1px;
}
