// Pagination.scss
// ----------


.pagination {
  display: inline-block;
	height: $defaultLineHeight * 2;
	margin: 0;

	li {
		display: inline;
	}
}

.pagination a {
  float: left;
  padding: $defaultPadding / 2;
	border: 1px solid #ddd;
  border-left-width: 0;
	
	font-size: $defaultFontSize - convert-to-em( 2px, 16px);
  line-height: $defaultLineHeight;
  text-decoration: none;

	&:hover,
	.active a {
		background-color: $grayLightest;
	}
}

.pagination .active a {
	color: $grayLight;
  cursor: default;
}

.pagination li:first-child a {
  border-left-width: 1px;
}
