// Pagination.scss
// ----------


.pagination {
  display: inline-block;
	height: $defaultLineHeight * 2;
	margin: 0;

	li {
		display: inline;
	}
}

.pagination a {
  float: left;
  padding: $defaultPadding / 2;
	border: 1px solid #ddd;
  border-left-width: 0;
	
  line-height: $defaultLineHeight;
  text-decoration: none;
}

.pagination a:hover,
.pagination .active {
		background-color: $grayLightest;
}

.pagination .active {
	color: $defaultLinkColorHover;
  cursor: default;
}

.pagination li:first-child a {
  border-left-width: 1px;
}
