// tag-cloud.scss
//
// Description:
// basic tag cloud styles
// ------------------------------


.tag-cloud {
	padding: $defaultPadding $defaultPadding * 2;
	
	text-align: center;
	
	list-style-type: none;
	
	[class*="tag-"] {
		display: inline;
		
		font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	}
	
	.tag-1 	{ 
		color: #999;
		font-size: 6pt;
	}
	.tag-2 	{ 
		color: #777;
		font-size: 7pt; 
	}
	.tag-3 	{ 
		color: #555;
		font-size: 9pt; 
	}
	.tag-4 	{ 
		color: #333;
		font-size: 11pt; 
	}
	.tag-5 	{ 
		color: #222;
		font-size: 14pt; 
	}
	.tag-6 	{ 
		color: #111;
		font-size: 17pt;
		font-weight: 400; 
	}
	.tag-7 	{ 
		font-size: 20pt; 
		font-weight: 500; 
	}
	.tag-8 	{ 
		font-size: 23pt; 
		font-weight: 600; 
	}
	.tag-9 	{ 
		font-size: 26pt;
		font-weight: 700;  
	}
	.tag-10 { 
		font-size: 28pt; 
	}
}


