// tag-cloud.scss
//
// Description:
// basic tag cloud styles
// ------------------------------


.tag-cloud {
	margin-left: 0;
	
	font-size: 600%;
	text-align: center;
	list-style-type: none;
	
	.tags {
		display: inline;
		
		font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	}
}


