// templates.scss
// 
// Description:
// basic UI template structure
//
// Use:
// .body wraps everything b/w the header and footer sections
// .main is used if UI required a middle column that fluid
// ------------------------------------------------------------

html {
	overflow-y: scroll;
}

body {
	min-width: 768px;
}

.body { //use this class to wrap all content after header and before footer tags
	position: relative;
}

.main {
	display: table-cell;
	*display: block;
	
	width: auto;
}

header,
.body,
footer {
	 > .inner { // allow for different full page backgrounds but centered content
		overflow: hidden;
		@include center-elm();
		margin-right: $defaultPadding * 2;
		margin-left: $defaultPadding *2;
	}
}

