// Templates.scss
// 
// -----------------------------------------------------

body {
	min-width: 768px;
}

.page {
	width: $pageWidth;
}

.body { //use this class to wrap all content after header and before footer tags
	position: relative;
}

.main {
	display: table-cell;
	*display: block;
	
	width: auto;
}

header,
.body,
footer {
	 >.inner { // allow for different full page backgrounds but centered content
		overflow: hidden;
		@include center-elm();
		padding-right: $defaultPadding * 2;
		padding-left: $defaultPadding *2;
	}
}

