// tooltip.scss
// -------------

.tooltip {
	display: none;
		
	padding: $defaultPadding;
	@include border-radius( $radius: 3px );
	
  background-color: $black;

  color: $white;
	font-size: convert-to-em(14px,16px);
	font-weight: normal;
	
	pointer-events: none;
	
	&:after {
		content: '';
		position: absolute;
		z-index: 2;
		
		top: 100%;
		left: 50%;
		margin-top: -5px;
		margin-left: -4px;
		width: 8px;
		height: 8px;
		
		background-color: inherit;
	
		@include transformRotate($degrees: 45deg);
	}
}

