// variables.scss
// Variables to customize appearance
// -----------------------------------------------------

// GLOBAL VALUES
// --------------------------------------------------

// Grays
$black:                 #000 !default;
$silver:								#c0c0c0 !default;
$grayDarker:            #111 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #777 !default;
$grayLighter:           #999 !default;
$grayLightest:					#e2e2e2 !default;
$white:                 #fff !default;

// Accent colors
$blue:                  #36a5d1 !default;
$navy:              		#0064cd !default;
$green:                 #2e912e !default;
$red:                   #e81414 !default;
$yellow:                #fcf823 !default;
$orange:                #f99a13 !default;
$teal:									#0b8c8f !default;
$pink:                  #ba3b61 !default;
$purple:                #720172 !default;

// Links
$defaultLinkColor:             #0088cc !default;
$defaultLinkColorHover:        darken($defaultLinkColor, 30%) !default;

// Theming Coloring
$primaryThemeColor:			#990000 !default;
$secondaryThemeColor:		#e7b19a !default;

// Typography
$defaultFontSize:				0.8125em !default; // 13px equivalent
$defaultFontFamily:			"Myriad Pro", "Segoe UI", Helvetica, Arial, sans-serif !default;
$defaultLineHeight:			1.615em !default; //21px / 13px
$defaultTextColor:			$grayDark !default;

// Spacing
// -------------
$defaultMargin:					0.770em  !default; // 10px / 13px	
$defaultPadding:				0.770em !default; // 10px / 13px


// scaffolding
// --------------------------------------------------

// Responsive grid
$columnWidth:    10% !default;
$gutterWidth:    2% !default;
