// widgets.scss
//
// Descrition:
// UI custom widget styles for various container within UI
//
// Sections: (sections are prepended with @ symbol for faster search)
//	-Details widget
//	-Base widget styles
//		-Action bar
//		-Map widget
//	-Widget Skins 
//		-Box skin
//		-Tool skin
//		-Module skin
// --------------------------------------------------------------------


// @Details widget
// --------------
// give details and summary elms position
[data-details="details"],
[data-details="summary"] { // need to set position for collapsible icons
	position: relative;
}

// set up default options for details pseudo elemens
[data-details="details"]:after,
[data-details="details"] [data-details="summary"]:before,
[data-details="details"] [data-details="summary"]:after { // set up collapsible icons
	content: '';
	display: block;
	position: absolute;
}

[data-details="details"] { //works like a <details>, add this data attr. to elm ie <div>
	&:after {
		z-index: 10;
		
		top: 7px;
		left: 4px;
		width: 2px;
		height: 6px;
		
		background-color: $grayLighter;
	}
}

// remove vertical bar to uncollapse state of details widget
[data-details="details"].open:after {
	background-color: transparent;
}

// set up for summary
[data-details="summary"] { //works like <summary> add this data attr. to elm (ie <h1>,<h2>,<h3>...<div> etc.)
	padding-left: 16px;

	cursor: pointer;
	
	&:before,
	&:after { // set up collapsible icons
		top: 5px;
	}
	
	&:before {
		left: 16px;
		margin: 0 0 0 -16px;
		width: 8px; 
		height: 8px;
		border: 1px solid $grayLighter;
	}
	
	&:after {
	  left: 1px; 
		margin-top: 4px; 
		margin-left: 1px;
	  width: 6px; 
	  height: 2px; 
  
	  background-color: $grayLighter;
	}
}

// Add extra left margin to compensate for collapsible icons from widget
[data-details="details"] ul,
[data-details="details"] ol {
	margin-left: $defaultMargin * 2;
}


// @Base widget styles
// ---------------------

.widget,
.bd,
.bd > .inner,
.ft > .inner,
.hd > .inner { 
	position: relative;
}

.widget {
	margin-top: $defaultMargin;
	margin-bottom: $defaultMargin;

	> .inner { //add this class to widget for default padding hd, bd, ft classes
		padding: $defaultPadding $defaultPadding $defaultPadding * 2;
	}
	
	.nav {
		padding-right: $defaultPadding;
		padding-left: $defaultPadding;
	}
	
	.tabs {
		margin-bottom: 0;
	}
}

// add inner class to widget sections (bd,ft,hd) to allow for spacing from widget sides if need be
.bd > .inner,
.ft > .inner,
.hd > .inner {
	margin-right: $defaultPadding;
	margin-left: $defaultPadding;
}

.bd > .inner {
	min-height: 50px;
}


// @Action bar
// for copy and info buttons, goes inside module
.action-bar {// wrap copy and info buttons in a div with this class
	overflow: hidden;
	
	padding: $defaultPadding /2 $defaultPadding;
}


// @Map widget
// special class for id:map-view container to provide a parent height 
.map-view {
	height: 400px;
}


// @Widget Skins 
// to style different widgets

// basic (extends widget), used for basic style to widget
.basic {
	border: 1px solid rgba( 0, 0, 0,.09);
	@include border-radius( $radius: 3px );
}


// @Box skin
// box styles (child/extends bd class), default box styles
.box { 
	padding: $defaultPadding;
	@include box-shadow( $shadow: 0 0 3px rgba( 0, 0, 0, 0.8) inset);
	@include border-radius( $radius: 3px );
	
	background-color: $white;
}

// @Tool skin
// tool (extends widget), defines user interaction with this widget
.tool { // used for div to toggle publications show on map
	background-color: $grayLightest;
	
	.box { //override padding b/c spiffy-scrollbar will bring the padding back in
		padding: 0;
	}
	
	.hd small {
		color: $defaultLinkColor;
	}
}

// @Module skin
// ( extends widget - used for three horizontal blocks below map and publications tool)
// for displaying information from a user interaction from a tool
.module {
	padding-bottom: $defaultMargin;
	
	background-color: lighten($grayLightest, 5%);
	
	.hd + .bd { //for when tabs are not present in module
		margin-top: 33px; // need to decouple this from styling SHOULD NOT BE HERE
		border-top: 1px solid $grayLighter;
	}
	
	h1, h2, h3, h4, h5, h6 {
		line-height: convert-to-em(41px, 16px);
		text-align: center;
	}
	
	h6 {
		margin-top: -$defaultMargin;
	}
		
	.bd {
		@include gradient-vertical($startColor: #ccc, $endColor: #eaeaea);
	}
	
	.tabs {
		border-bottom-color: $grayLighter;
		
		a,
		.active,
		.active:hover {
			border-color: $grayLighter;
			border-bottom-width: 0;
			border-bottom-style: none;
			border-bottom-color: transparent;
		}
	
		.active,
		.active:hover {
			@include gradient-vertical($startColor: #eaeaea, $endColor: #ccc);
		}
	}
}


